* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #FFC107;
}

.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

/* CARD AND TITLE */
.card {
    display: flex;
    flex-flow: column wrap;
    width: 30%;
    border: solid #BDBDBD 1px;
    margin: 10px;
    box-shadow: 10px 5px 5px #607D8B;
    background-color: #FFECB3
}

.card__title {
    text-align: center;
    margin: 20px;
    font-family: 'Modak', cursive;
    font-size: 30px;
    font-weight: lighter;
}

/* CARD INFO */

.card__info {
    position: relative;
}

.card__image {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.card__description {
    margin: 10px;
    text-align: justify;
    color: #212121;
    font-family: 'Merriweather', serif;
}

.card__available {
    background-color: darkgray;
    color: yellow;
    margin: 10px 0;
}

.sold-out {
    width: 80%;
    position: absolute;
    top: -10px;
    right: 50px;
}

/* CARD SPECS */

.specs__header {
    margin: 0 5px;
    font-size: 20px;
    font-weight: bold;
}

.card__size {
    margin: 0 10px;
    font-weight: bold;
}

.card__weight {
    margin: 0 10px;
    font-weight: bold;
}

.card__invalid {
    font-size: 10px;
}

/* PRICING */

.pricing__header {
    margin: 0 5px;
    font-size: 20px;
    font-weight: bold;
}

.pricing {
    margin: 0 10px;
    font-weight: bold;
}

@media (max-width: 692px) {
    .card {
        flex: 1 46%
    }
}